<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>AuthController</servlet-name>
        <servlet-class>main.controllers.AuthController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthController</servlet-name>
        <url-pattern>/auth/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>main.controllers.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/users/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CourseController</servlet-name>
        <servlet-class>main.controllers.CourseController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseController</servlet-name>
        <url-pattern>/courses/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LessonController</servlet-name>
        <servlet-class>main.controllers.LessonController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LessonController</servlet-name>
        <url-pattern>/lessons/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewController</servlet-name>
        <servlet-class>main.controllers.ViewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewController</servlet-name>
        <url-pattern>/view/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>main.controllers.DashboardController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/dashboard/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AdminList</filter-name>
        <filter-class>main.filters.AdminList</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminList</filter-name>
        <url-pattern>/users/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminList</filter-name>
        <url-pattern>/courses/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminList</filter-name>
        <url-pattern>/dashboard/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminList</filter-name>
        <url-pattern>/lessons/</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>UserList</filter-name>
        <filter-class>main.filters.UserList</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserList</filter-name>
        <url-pattern>/view/</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>WEB-INF/beans.xml</param-value>
    </context-param>
</web-app>